.admin-page {
  padding: 3rem 10rem;

  a {
    color: black;
  }

  .nav-link {
    &.active {
      background-color: #179d2738;
      color: #179d27;
    }
  }

  .new-btn {
    font-size: 13px;
  }

  .new-btn {
    float: right;
    height: 40px;
    margin-bottom: 1.5rem;

    color: white;
    background: #179d27;
  }

  .download-btn {
    margin-right: 10px;
    border: 1px solid #179d27;
    color: #179d27;
    background: transparent;

    img {
      width: 13px;
      margin-left: 11px;
    }
  }

  .create-modal {
    h5 {
      font-weight: 600;
    }
    .create-employee-form {
      padding: 1rem;
    }
  }
}
