.admin-page {
  padding: 3rem 10rem;

  a {
    color: black;
  }

  .nav-link {
    &.active {
      background-color: #179d27;
    }
  }

  .new-btn {
    background: #179d27;
    color: white;
    font-size: 13px;
  }

  .new-btn {
    float: right;
    height: 40px;
  }

  .employee-details {
  }
}
