.admin-page {
  padding: 3rem 10rem;

  a {
    color: black;
  }

  .nav-link {
    &.active {
      background-color: #179d2738;
      color: #179d27;
    }
  }

  .new-btn {
    border: 1px solid #179d27;
    color: #179d27;
    font-size: 13px;
  }

  .new-btn {
    float: right;
    height: 40px;
  }
}
